/* your code */
.main_table{

   width: 1000px;
   height: 250px;
   border: 1px solid black;
   border-radius: 10px;
   border-collapse: collapse; 
   background-color:white;
   margin: auto;
   overflow: hidden;
}

div{
     text-align: center; 
}
.first_row{
    text-transform: capitalize;
    height: 40px;
    background-color:rgb(84, 84, 212);
    background-size: auto;
    color:white;
    border: 20% 20%;
}
tr{
width: auto;
background-size: auto;
}